---
import Page from '../layouts/page.astro';
---

<Page title="Not Found">
	<h1>Page not found</h1>

	<p>
		Hi! I'm a bit of a writer and rules nerd, and this is my site for sharing
		some of the things i've created to use in TTRPG games. But it looks like the
		link you tried to visit doesn't exist, or maybe doesn't exist anymore. The
		[home page](/) includes links to my content, or you might see it in the
		navigation header at the top of the page.
	</p>

	<p>
		<a href="/">Back to home page</a>
	</p>
</Page>
<script is:inline>
	if (document.location.href.slice(-1) === '/') {
		fetch(document.location.href.slice(0, -1), { method: 'POST' }).then(
			response => {
				if (response.status !== 404) {
					document.location.replace(document.location.href.slice(0, -1));
				}
			},
		);
	}
</script>
