---
import { copyrightname } from '../names';

interface Props {
	workName: string;
	bfr?: boolean;
	srd5e?: boolean;
	year: number;
}

const contentLink = 'https://ttrpg.chaosfae.com';

const { bfr, workName, srd5e, year } = Astro.props;
---

<section class="copyright">
	<h2>About & License</h2>
	<p>
		<cite>{workName}</cite> by {copyrightname}.
	</p>
	{bfr === true ? <p>Compatible with Black Flag Roleplaying games.</p> : null}
	<slot name="after-header" />
	<p>
		Page background images are not part of this work and are not licensed for
		reuse or covered by the license below.
	</p>
	<p>Find more of my work at: <a href={contentLink}>{contentLink}</a></p>
	<p class="web">
		{workName} by <span>{copyrightname}</span> is licensed under <a
			href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1"
			target="_blank"
			rel="license noopener noreferrer"
			style="display:inline-block;"
			>CC BY-SA 4.0<img
				class="cc-icon"
				src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"
				alt=""
			/><img
				class="cc-icon"
				src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"
				alt=""
			/><img
				class="cc-icon"
				src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1"
				alt=""
			/></a
		>
	</p>
	<p class="print">
		{workName} © {year} by {copyrightname} is licensed under CC BY-SA 4.0. To view a copy
		of this license, visit https://creativecommons.org/licenses/by-sa/4.0/
	</p>
	{
		srd5e === true ? (
			<p>
				This work includes material taken from the System Reference Document 5.1
				(“SRD 5.1”) by Wizards of the Coast LLC and available at
				<a
					href="https://dnd.wizards.com/resources/systems-reference-document"
					referrerpolicy="no-referrer"
				>
					https://dnd.wizards.com/resources/systems-reference-document
				</a>
				. The SRD 5.1 is licensed under the Creative Commons Attribution 4.0
				International License available at{' '}
				<a
					href="https://creativecommons.org/licenses/by/4.0/legalcode"
					referrerpolicy="no-referrer"
				>
					https://creativecommons.org/licenses/by/4.0/legalcode
				</a>
				.
			</p>
		) : null
	}
	<slot name="attributions" />
	<p>
		Plain English: This is share-alike except for background textures, which may
		not be redistributed. Whole PDFs may be redistributed.
	</p>
</section>
<style lang="scss">
	.copyright {
		text-indent: 0;
		font-size: 0.8em;

		:global(p) {
			margin-top: 0.5rem;
			text-align: center;
			white-space: normal;
		}

		h2 {
			font-size: 1.5em;
			color: inherit;
			border-color: inherit;
		}
		dl > div {
			margin: 0.25rem;
			text-indent: 0.5rem;
		}
		dt {
			font-weight: bold;
			display: inline;
		}
		dd {
			display: inline;
			margin: 0;
		}
		span {
			display: inline-block;
		}
	}

	.cc-icon {
		height: 18px !important;
		margin-left: 3px;
		vertical-align: text-bottom;
	}

	@media screen {
		.print {
			display: none;
		}
	}
	@media print {
		.web {
			display: none;
		}
	}
</style>
