---
import { copyrightname } from '../names';

interface Props {
	workName: string;
	bfr?: boolean;
	srd5e?: boolean;
	attributions?: string[];
}

const year = new Date().getFullYear();
const contentLink = 'https://ttrpg.chaosfae.com';

const { attributions = [], bfr, workName, srd5e } = Astro.props;
---

<section class="copyright">
	<h2>About & License</h2>
	{bfr === true ? <p>Compatible with Black Flag Roleplaying games.</p> : null}
	<slot name="after-header" />
	<p>
		This work © {year} by {copyrightname}.
		<br />Find more of my work at: <a href={contentLink}>{contentLink}</a>
	</p>
	<dl>
		<div>
			<dt>ORC Notice:</dt>
			<dd>
				This product is licensed under the ORC License located at the Library of
				Congress at TX 9-307-067 and available online at various locations
				including <a href="https://paizo.com/orclicense"
					>https://paizo.com/orclicense</a
				>. All warranties are disclaimed as set forth therein.
			</dd>
		</div>
		<div>
			<dt>Attribution:</dt>
			<dd>
				This product is based on the following Licensed Material
				<ul>
					<li>
						Black Flag Roleplaying Reference Document v0.2, © Open Design LLC
						d/b/a Kobold Press
					</li>
					{attributions.map(attribution => <li>{attribution}</li>)}
				</ul>
				If you use our Licensed Material in your own published works, please credit
				us as follows: <q>{workName}, © {copyrightname}</q>
			</dd>
		</div>
		<div>
			<dt>Reserved Material:</dt>
			<dd>
				Reserved Material elements in this product include, but may not be
				limited to: the textured background, and all elements designated as
				Reserved Material under the ORC License.
			</dd>
		</div>
		<div>
			<dt>Expressly Designated Licensed Material:</dt>
			<dd>This product contains no Expressly Designated Licensed Material.</dd>
		</div>
	</dl>
	{
		srd5e === true ? (
			<p>
				This work includes material taken from the System Reference Document 5.1
				(“SRD 5.1”) by Wizards of the Coast LLC and available at
				<a
					href="https://dnd.wizards.com/resources/systems-reference-document"
					referrerpolicy="no-referrer"
				>
					https://dnd.wizards.com/resources/systems-reference-document
				</a>
				. The SRD 5.1 is licensed under the Creative Commons Attribution 4.0
				International License available at{' '}
				<a
					href="https://creativecommons.org/licenses/by/4.0/legalcode"
					referrerpolicy="no-referrer"
				>
					https://creativecommons.org/licenses/by/4.0/legalcode
				</a>
				.
			</p>
		) : null
	}
	<p>Plain English: This is share-alike except for art and fluff text.</p>
</section>
<style lang="scss">
	.copyright {
		text-indent: 0;
		font-size: 0.8em;

		:global(p) {
			margin-top: 0.5rem;
			text-align: center;
			white-space: normal;
		}

		h2 {
			font-size: 1.5em;
			color: inherit;
			border-color: inherit;
		}
		dl > div {
			margin: 0.25rem;
			text-indent: 0.5rem;
		}
		dt {
			font-weight: bold;
			display: inline;
		}
		dd {
			display: inline;
			margin: 0;
		}
		span {
			display: inline-block;
		}
	}
</style>
