---
const fonts = Array.from(
  new Set([
    "BookInsanityRemake",
    "BookInsanityRemake",
    "BookInsanityRemake",
    "BookInsanityRemake",
    "ScalySansRemake",
    "ScalySansRemake",
    "ScalySansRemake",
    "ScalySansRemake",
    "ScalySansSmallCapsRemake",
    "WalterTurncoat",
    "MrEavesRemake",
    "SolberaImitationRemake",
    "NodestoCapsCondensed",
    "NodestoCapsCondensed",
    "NodestoCapsCondensed",
    "NodestoCapsCondensed",
    "NodestoCapsWide",
    "Overpass",
    "Davek",
    "Iokharic",
    "Rellanic",
  ])
);
---

<details>
  <summary>Font test</summary>
  <div>
    {
      fonts.map((fontname) => {
        return (
          <p style={`font-family: ${fontname};`}>
            <span style={`font-family: system-ui;`}>{fontname}</span>
            <br />
            The Quick Brown Fox Left
            <span class="larger">The Quick Brown Fox Left</span>
          </p>
        );
      })
    }
  </div>
</details>
<style>
  details {
    &[open] {
    }
  }
  summary {
    border: solid 1px gray;
    border-radius: 3px;
    padding: 0.25rem 1rem;
    width: max-content;

    & + * {
      margin-top: 0.5rem;
    }
  }
  div {
    margin: 0.5rem 0.5rem;
    border: solid 1px gray;
    padding: 0.5rem;
		border-radius: 3px;
  }
  p {
    border-bottom: 1px solid gray;
  }
  .larger {
    font-size: 2rem;
  }
</style>
