---
import { copyrightname } from '../names';

const year = new Date().getFullYear();
---

<footer>
	<p>This site © {year} by {copyrightname}.</p>
	<p>
		The code for this website is marked with <a
			href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0</a
		>.
	</p>
</footer>
<style lang="scss">
	footer {
		max-width: 800px;
		padding: 0 1rem;
		margin: auto;
	}
	p {
		font-size: 0.7rem;
	}
	@media print {
		footer {
			display: none;
		}
	}
</style>
