---
const links = [
{
		name: "Lilith's Weapons Table",
		link: '/bfr/weapons-tables-v1',
	},
	{
		name: 'Fairy Lineage',
		link: '/bfr/fairy-lineage-v1',
	},
	{
		name: 'Human Lineage',
		link: '/bfr/human-lineage-v1',
	},
	{
		name: 'Satyroids',
		link: '/bfr/satyroids-lineage-v1',
	},
	{
		name: 'Credits',
		link: '/credits',
	},
];
---

<header>
	<h2><a href="/">Chaosfae TTRPG Content</a></h2>
	<nav>
		<section>
			<h3>Creations</h3>
			<ul>
				{
					links.map(({ name, link }) => (
						<li>
							<a href={link}>{name}</a>
						</li>
					))
				}
			</ul>
		</section>
	</nav>
</header>
<style lang="scss">
	header {
		margin: 0 auto 1rem;
		padding: 1rem;
		width: 100%;
		max-width: 800px;
		display: flex;
		gap: 1rem;
		background-image: url('/assets/05-1600-70q-light.jpg');
		background-size: cover;
		background-position-y: 200px;
		box-shadow:
			0 0 0.5rem rgb(75, 0, 50),
			3px 3px 1px rgba(0, 0, 0, 0.596);
		border-top: none;
		align-content: stretch;
		--accent-color: rgb(77, 39, 109);
	}
	nav {
		flex: 1 1 auto;
	}
	section {
		border-top: solid 1px var(--accent-color);
		border-left: solid 3px var(--accent-color);
		border-top-left-radius: 18px 6px;
		padding-top: 0.125rem;
		padding-left: 0.5rem;
		width: 100%;
	}
	section + section {
		margin-top: 0.5rem;
	}
	h2,
	h2 {
		text-align: center;
	}
	h3 {
		margin: 0;
	}
	h3 {
		margin-bottom: 0.5rem;
	}
	ul {
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		align-content: center;
	}
	li {
		list-style: none;
		display: flex;
		align-content: center;

		a {
			width: 100%;
			height: 100%;
		}
	}
	a {
		color: inherit;
		display: block;

		&:hover,
		&:focus {
			text-shadow: 3px -3px 3px rgb(163, 93, 255);
		}
	}
	@media print {
		header {
			display: none;
		}
	}
	@media screen AND (max-width: 480px) {
		header {
			flex-direction: column;
			gap: 0.25rem;
		}
		h2 {
			margin: 0.25rem;
		}
		h3 {
			margin-bottom: 0.25rem;
		}
		ul {
			gap: 0.5rem;
		}
	}
</style>
