---
interface Props {
  number: number;
}

const { number } = Astro.props;
---

<footer>
  <p class="page-number">
    <span class="sr-only">Page Number</span>
    {number}
  </p>
</footer>
<style lang="scss">
  footer {
    margin-top: auto;
    flex: 0 0 auto;
    display: flex;
  }
  .page-number {
    flex: 0 0 auto;
    margin-left: auto;
    font-size: 1.125em;
    font-family: SolberaImitationRemake;
  }
</style>
