---
interface Props {
  contents: {
    title: string;
    page: number;
    link?: string;
  }[];
}

const { contents } = Astro.props;
---

<ol role="list">
  {
    contents.map(({ title, page, link: maybeLink }) => {
      const link =
        maybeLink ?? title.replaceAll(" ", "-").replaceAll(/[^\w-]/g, "");
      return (
        <li>
          <a href={"#" + link}>
						<span class="title">{title}</span>
						<span class="spacer" aria-hidden="true"></span>
						<span class="page-number">{page}</span>
					</a>
        </li>
      );
    })
  }
</ol>
<style lang="scss">
	ol {
		text-indent: 0;
		padding: 0;
	}
  li {
    list-style: none;
		margin: var(--paragraph-gap) 0;
  }
	a {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.title {
		flex: 0 1 auto;
	}
	.spacer {
		flex: 1 1 auto;
		border-bottom: dotted 2px currentColor;
		margin: .15em .25em 0;
	}
	.page-number {
		flex: 0 1 auto;
	}
</style>
