---
import type { BfrWeaponsTable } from "../data/types.ts";

interface Props {
	data: BfrWeaponsTable;
}

const { data } = Astro.props;

if (typeof data !== "object" || typeof data["Martial Melee Weapons"] !== "object") {
	throw new Error("WeaponTable missing data prop!");
}

const columns = [
  // prettier
  "WEAPON",
  "COST",
  "DAMAGE",
  "WEIGHT",
  "WEAPON OPTION",
  "PROPERTIES",
];
const groups = Object.entries(data);
---

<table>
  <thead>
    <tr>
      {
        columns.map((column) => (
          <th class={column.replace(" ", "-").toLocaleLowerCase()}>{column}</th>
        ))
      }
    </tr>
  </thead>
  {
    groups.map(([type, rows]) => {
      return (
        <tbody>
          <tr>
            <th colspan="6">{type}</th>
          </tr>
          {rows.map((row) => {
            return (
              <tr>
                {columns.map((column) => {
                  return <td>{row[column as keyof typeof row]}</td>;
                })}
              </tr>
            );
          })}
        </tbody>
      );
    })
  }
</table>
<style lang="scss">
  table {
    font-size: 0.8em;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.5);
  }
  td,
  th {
    border: 1px solid rgba(0, 0, 0, 0.24);
    padding: 0.125em 0.5em;
  }
  thead {
    tr {
      background-color: black;
      color: white;
    }
    th {
      padding: 0.2em 0.5em 0;
    }
  }
  tbody {
    tr {
      &:nth-child(2n+1) {
        background-color: rgba(255, 185, 127, 0.2);
      }
    }
    th {
      font-weight: normal;
      text-align: left;
      font-style: italic;
      padding: 0.25em 0.5em .15em;
      background-color: lightgray;
    }
  }
  .weapon {
    width: 8.75em;
  }
  .damage {
    width: 9em;
  }
  .weapon-option {
    width: 10.5em;
  }
</style>
