body {
	--heading-accent: rgb(49, 15, 0);
	--heading-accent-secondary: rgb(49, 15, 0);
	--paragraph-gap: 0.125rem;
}

.page {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: MrEavesRemake, system-ui, sans-serif;
		text-indent: 0;
	}

	h1 {
		text-align: center;
		font-size: 2rem;
		letter-spacing: 0.1rem;
		column-span: all;
	}

	h2 {
		font-size: 1.75rem;
		margin: 1rem 0;
		border-bottom: 1px solid var(--heading-accent);
		color: var(--heading-accent);
	}

	h3 {
		font-family: ScalySansSmallCapsRemake;
		font-size: 1.25rem;
		margin: 1rem 0 -0.125rem;
		color: var(--heading-accent-secondary);
	}

	p {
		margin: var(--paragraph-gap) 0;
		white-space: pre-line;
	}

	ul {
		break-before: always;
		text-indent: 0;
		margin: var(--paragraph-gap) 0;
		padding-left: 1.5rem;
	}

	li {
		margin: var(--paragraph-gap) 0;
	}

	aside {
		margin: 1rem .25rem;
		padding: .5rem;
		border-radius: 1px;
		box-shadow: 0 0 2px purple;
		background-image: url('/assets/faerie-bg.jpg');

		> :first-child {
			margin-top: 0;
		}
	}

	position: relative;
	margin: 1rem auto;
	// box-shadow: 0 0 0.5rem rgb(255, 174, 0);
	box-shadow: 0 0 0.5rem rgb(75, 0, 50), 3px 3px 1px rgba(0, 0, 0, 0.5);
	background-size: cover;
	padding: 16px;
	height: 11in;
	width: 8.5in;
	text-indent: 0.75rem;
	// column-gap: 1em; // default
	display: flex;
	flex-direction: column;
	font-family: BookInsanityRemake, system-ui, sans-serif;
}

.columns {
	flex: 0 1 auto;
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-template-rows: auto;
	grid-template-areas: 'left | right';
	gap: 1rem;

	> .column {
		grid-area: 'left';
		overflow: auto;

		+ .column {
			grid-area: 'right';
		}
	}
}

.item {
	margin: 1rem;
	border: solid 1px var(--heading-accent-secondary);
	padding: 0 1rem 1rem;
	background-color: rgba(240, 215, 250, 0.411);

	h3 {
		font-size: 1.125rem;
		margin: 0 -1rem 0.5rem;
		border-bottom: solid 1px var(--heading-accent-secondary);
		padding: 0.25em 0.5rem 0.125em;
	}
}

.credits {
	font-size: 0.8em;
}

@media screen AND (max-width: 823px) {
	.page {
		height: auto;
		width: 100%;
	}
	.columns {
		aspect-ratio: unset;
		column-count: unset;
		grid-template-columns: auto;
		grid-template-rows: auto auto;
		grid-template-areas: 'left' 'right';
	}
}

@media print {
	.page {
		margin: 0;
		box-shadow: none;
	}
	#table-of-contents + * {
		a {
			color: inherit;
		}
	}
}
