.page {
	--texture-page1: url('/assets/scroll-01-1080-70q.webp');
	--texture-page2: url('/assets/scroll-02-rev-1080-70q.webp');
	background-image: var(--texture-page1);

	&:nth-child(2n) {
		background-image: var(--texture-page2);
	}
}
