.page {
	--heading-accent: rgb(22, 0, 41);
	--heading-accent-secondary: rgb(22, 0, 41);
	--texture-page1: url('/assets/scroll-03-pink-1080-70q.webp');
	--texture-page2: url('/assets/scroll-04-pink_h-77-8_1080-70q.webp');
	background-image: var(--texture-page1);

	&:nth-child(2n) {
		background-image: var(--texture-page2);
	}
}
