table {
	font-size: .8em;
	border-collapse: collapse;
	margin: var(--paragraph-gap) auto;
}

th {
	padding: 2px 4px;

	+ th {
		padding: 2px;
	}
}

tbody tr:nth-child(2n-1) {
	background-color: rgba(120, 233, 148, 0.24);
}

td:first-child {
	text-align: left;
}

td {
	text-align: center;
}

td {
	padding: 2px 4px;
}
