---
import Footer from '../components/Footer.astro';
import Heading from '../components/Heading.astro';
import Html from './html.astro';

interface Props {
	frontmatter: {
		title: string;
	};
}

const title = Astro.props.frontmatter.title;
---

<Html title={title}>
	<Heading />
	<article>
		<slot />
	</article>
	<hr />
	<Footer />
</Html>
<style lang="scss">
	article {
		max-width: 800px;
		margin: 0px 16px;

		:global(aside) {
			background-color: rgba(43, 161, 165, 0.205);
			width: 100%;
			padding: 0px 16px;
			border-top: solid 1px rgba(26, 96, 99, 0.205);
			border-bottom: solid 1px rgba(26, 96, 99, 0.205);

			> :global(p:first-child) {
				margin-top: .5em;
			}

			> :global(p:last-child) {
				margin-bottom: .5em;
			}

			@media screen and (min-width: 832px) {
				float: right;
				max-width: 400px;
				margin-left: 16px;

				> :global(p:is(:first-child, :last-child)) {
					margin: 1em 0em;
				}
			}
		}
	}
	hr {
		align-self: center;
		width: 600px;
		max-width: calc(100% - 32px);
		margin: 0px 16px;
	}
</style>
