---
import Footer from "../components/Footer.astro";
import Heading from "../components/Heading.astro";
import Html from "./html.astro";

const title = Astro.props.title ?? Astro.props.frontmatter.title;
---

<Html title={title}>
	<Heading />
  <main>
    <slot />
  </main>
	<Footer />
</Html>
<style is:global>
	main {
		min-height: 50vh;
    max-width: 800px;
		width: 100%;
    margin: 1rem auto;
    background-image: url("/assets/05-1600-70q-light.jpg");
    background-size: cover;
    box-shadow:
      0 0 0.5rem rgb(75, 0, 50),
      3px 3px 1px rgba(0, 0, 0, 0.596);
    border-radius: 8px;
    padding: 1rem;
		color: #1f1302;

    :global(h1) {
      margin: 0.5rem 0;
    }
	}
	h1 {
		margin: .5rem 0 1rem;
		text-align: center;
	}
</style>
