---
interface Props {
	title: string;
}

import '../normalize.scss';
import '../fonts.scss';

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>{title} - Chaosfae TTRPG Content</title>
	</head>
	<body>
		<slot />
	</body>
</html>
{/* Normalized styles */}
<style is:global>
	:root {
		--paragraph-gap: 0.125rem;
	}
	* {
		box-sizing: inherit;
	}
	html,
	body {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: system-ui, sans-serif;
		text-indent: 0;
	}
	a {
		color: rgb(12, 51, 182);
		text-shadow: 0 0 1px white;

		&:hover,
		&:focus {
			text-decoration-thickness: 2px;
		}

		main &:visited,
		footer &:visited {
			color: rgb(100, 12, 182);
		}
	}
	.sr-only {
		position: absolute;
		left: -10000px;
		top: auto;
		width: 1px;
		height: 1px;
		overflow: hidden;
	}
</style>
