---
import Footer from "../components/Footer.astro";
import Heading from "../components/Heading.astro";
import Html from "./html.astro";

const title = Astro.props.title ?? Astro.props.frontmatter.title;
---

<Html title={title}>
  <Heading />
  <main>
    <slot />
  </main>
  <Footer />
</Html>
<style>
  main {
    min-height: 50vh;
    max-width: 800px;
    margin: 1rem auto;
    background-image: url("/assets/05-1600-70q-light.jpg");
    background-size: 800px;
    background-position-y: 900px;
    background-position-x: center;
    box-shadow:
      0 0 0.5rem rgb(75, 0, 50),
      3px 3px 1px rgba(0, 0, 0, 0.596);

    /* border: solid 1px black; */
    border-radius: 8px;
    /* box-shadow: 0 0 8px black; */
    padding: 1rem;

    :global(h1) {
      margin: 0.5rem 0;
    }
  }
</style>
