---
interface Props {
	title?: string;
	frontmatter: {
		title?: string;
	};
}

import Footer from '../components/Footer.astro';
import Heading from '../components/Heading.astro';
import '../styles.scss';
import Html from './html.astro';

const title = Astro.props.title ?? Astro.props.frontmatter.title;
---

<Html title={title ?? 'Credits'}>
	<Heading />
	<article>
		<slot />
	</article>
	<Footer />
</Html>
<style lang="scss">
	article {
		margin: 1rem auto;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		:global(.page) {
			margin: 0;
		}

		@media print {
			margin: 0;
			gap: 0;
		}
	}
</style>
